/* Para el body */
body {
  font-family: 'Times New Roman', Times, serif;
  background-color: whitesmoke;
  padding: 22px;
}

/* Para el heading 2 */
h2 {
  color: rgb(71, 91, 79);
  text-align: center;
}

/* Para la etiqueta form */
form {
  background-color: whitesmoke;
  max-width: 400px;
  border-radius: 7px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(71, 91, 79, 0.1);
}

/* Para las etiquetas label */
label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

/* Para las etiquetas input del tipo texto y email */
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 17px;
  border: 1px solid whitesmoke;
  border-radius: 4px;
}

/* Para las etiquetas input de tipo submit */
input[type="submit"] {
  padding: 12px 22px;
  background-color: rgb(44, 160, 44);
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Para las etiquetas input de tipo submit cuando el cursor está encima */
input[type="submit"]:hover {
  background-color: #41aa41;
  color: white;
}